<div class="jumbotron">
<h1 class="center">FAQ</h1>
<p><strong>Q1. What is Pinteresting?</strong><br>&nbsp; &nbsp; &nbsp; - Add all the customized photos that you want and share with friends</p>
<p><strong>Q2. How do I add an account?</strong><br>&nbsp; &nbsp; &nbsp; - Use your facebook account login information</p>
</div>
